# --- Global ---
.env
*.env
*.log
*.DS_Store
node_modules/

# --- Frontend (Next.js) ---
next-app/.next/
next-app/node_modules/
next-app/dist/
next-app/out/
next-app/.turbo/
next-app/.env.development.local
next-app/.env.production.local

# VSCode and IDEs
next-app/.vscode/
next-app/.idea/


# --- OS Specific ---
Thumbs.db
ehthumbs.db
Icon?
.DS_Store

